- name: Ensure jails directory exists
  file:
    path: /usr/local/jails
    state: directory
    owner: root
    group: wheel
    mode: "0755"

- name: Create ZFS datasets
  loop:
    - { name: "zroot/jails", mountpoint: "/usr/local/jails" }
    - { name: "zroot/jails/media" }
    - { name: "zroot/jails/templates" }
    - {
        name: "zroot/jails/templates/{{ jail_userland_14_3 }}",
        userland: "{{ jail_userland_14_3 }}",
      }
    - {
        name: "zroot/jails/templates/{{ jail_userland_15_0 }}",
        userland: "{{ jail_userland_15_0 }}",
      }
    - { name: "zroot/jails/containers" }
  loop_control:
    loop_var: dataset
  include_tasks: jails_dataset.yml

- name: Configure jails
  block:
    - name: Configure jail.conf
      template:
        src: etc_jail.conf.j2
        dest: /etc/jail.conf
        owner: root
        group: wheel
        mode: "0644"

    - name: Configure devfs.rules
      template:
        src: etc_devfs.rules.j2
        dest: /etc/devfs.rules
        owner: root
        group: wheel
        mode: "0644"

    - name: Configure individual jails
      loop: "{{ jails }}"
      loop_control:
        loop_var: jail
      include_tasks: jails_single.yml
