- name: Set up resolv.conf
  template:
    src: etc_resolv.conf.j2
    dest: /etc/resolv.conf
    owner: root
    group: wheel
    mode: "0644"
  register: resolv_conf

- name: Make resolv.conf immutable
  shell: chflags schg /etc/resolv.conf
  when: resolv_conf.changed

# TODO: this doesn't work without rc_conf having been run
#- name: Restart networking if interface configuration changed
#  shell: service netif restart && service routing restart
#  when: rc_conf.changed or resolv_conf.changed

- name: Set up sshd
  template:
    src: etc_ssh_sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: wheel
    mode: "0644"
  register: etc_sshd_config

- name: Start sshd
  service:
    name: sshd
    state: started
  register: started_sshd

- name: Restart sshd
  service:
    name: sshd
    state: restarted
  when: not started_sshd.changed and etc_sshd_config.changed

- name: Start syslogd
  service:
    name: syslogd
    state: started
  register: started_syslogd
#- name: Restart syslogd
#  service:
#    name: syslogd
#    state: restarted
#  when: not started_syslogd.changed and rc_conf.changed
