# Immich server configuration
IMMICH_MEDIA_LOCATION=/data
TZ=Europe/Helsinki
IMMICH_PORT=80
NODE_ENV=production

# Database
DB_HOSTNAME={{ jail_ips.postgres }}
DB_PORT=5432
DB_USERNAME=immich
DB_PASSWORD={{ pg_user_passwords.immich }}
DB_DATABASE_NAME=immich

# Redis
REDIS_HOSTNAME={{ jail_ips.redis }}
REDIS_PORT=6379
REDIS_PASSWORD={{ valkey_password }}

# Note: machine learning service URL managed in GUI
