worker_processes auto;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    server {
        listen 80 default_server;
        server_name _;

        root /var/www;

        index index.html;

        # Migration redirects from legacy site
        location ~ ^/archive(?:/(.*))?$ {
            return 302 /posts/$1$is_args$args;
        }
        location = /feed.xml {
            return 302 /atom.xml;
        }

        location / {
            try_files $uri $uri.html $uri/ =404;
        }
    }
}
