# /etc/crontab - root's crontab for FreeBSD
#
#
SHELL=/bin/sh
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
#
#minute hour    mday    month   wday    who     command

# Update LetsEncrypt certificates every day after 2:00 AM
{% for host in tls_hosts %}
{{ loop.index0 }}       2       *       *       *       root    certbot certonly --nginx -n -m jan@jantuomi.fi --agree-tos -d {{ host }}
{% endfor %}

# Update dynamic DNS (Hetzner)
{% for elem in hetzner_zone_record_ids %}
*       *       *       *       *       root    /usr/local/bin/hetzner_ddns.sh --zone '{{ elem.zone }}' --rr-id '{{ elem.rr_id }}' --iface-cmd 'ifconfig epw1b' >>/var/log/hetzner_ddns.log 2>&1
{% endfor %}

# Update goaccess report HTML
0       *       *       *       *       root    /usr/local/bin/gen_goaccess.sh
