# Device		Mountpoint	FStype	Options			Dump	Pass#
/dev/gpt/efiboot0	/boot/efi	msdosfs	rw			2	2
/dev/nda0p3.eli		none		swap	sw			0	0
/dev/nda1p3.eli		none		swap	sw			0	0
/dev/nda2p3.eli		none		swap	sw			0	0
/dev/nda3p3.eli		none		swap	sw			0	0
tmpfs			/tmp		tmpfs	rw,mode=777,size=2g	0	0
