# Include configurations from standard locations.
.include "/etc/jail.conf.d/*.conf";
.include "/etc/jail.*.conf";
.include "/usr/local/etc/jail[.]conf";
.include "/usr/local/etc/jail.conf.d/*.conf";
.include "/usr/local/etc/jail.*.conf";
