hostname="pursotin"
keymap="fi.kbd"
sshd_enable="YES"
ntpd_enable="YES"
ntpd_sync_on_start="YES"
powerd_enable="YES"
moused_nondefault_enable="NO"
# Set dumpdev to "AUTO" to enable crash dumps, "NO" to disable
dumpdev="AUTO"
zfs_enable="YES"
defaultrouter="{{ lan_ipv4_gateway }}"
ifconfig_igc0_name="lan0"
ifconfig_igc1_name="wan0"
ifconfig_lan0="inet {{ lan_ipv4_cidr }}"
ifconfig_lan0_ipv6="inet6 accept_rtadv"
ifconfig_wan0="DHCP"
ifconfig_wan0_ipv6="inet6 accept_rtadv"
zpool_gpt_labels_enable="YES"
smartd_enable="YES"
pf_enable="YES"
syslogd_enable="YES"
syslogd_flags="-s"
jail_enable="YES"
jail_parallel_start="YES"
nginx_enable="YES"
clear_tmp_enable="YES"
cleanvar_enable="YES"
auditd_enable="YES"
