worker_processes auto;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    server {
        listen 80 default_server;
        server_name _;

        location / {
            return 404;
        }
    }

    server {
        listen 80;
        server_name jan.systems pursotin.jan.systems local.jan.systems;

        root /usr/local/www/jan.systems;
        index index.html;

        location / {
            try_files $uri $uri.html $uri/ =404;
        }

        access_log /var/log/nginx/jan.systems/access.log;
        error_log /var/log/nginx/jan.systems/error.log;
    }

    {% for jail in jails -%}
    server {
        listen 80;
        server_name {{ jail.name }}.jan.systems {{ jail.name }}.local.jan.systems;

        location / {
            proxy_pass http://{{ jail.ip }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
    {% endfor %}
}
