hostname="pursotin"
keymap="fi.kbd"
sshd_enable="YES"
ntpd_enable="YES"
ntpd_sync_on_start="YES"
powerd_enable="YES"
moused_nondefault_enable="NO"
dumpdev="AUTO"
zfs_enable="YES"
defaultrouter="{{ lan_ipv4_gateway }}"
cloned_interfaces="bridge0 bridge1"
{% if is_prod %}
ifconfig_{{ nic_lan }}_name="lan0"
ifconfig_{{ nic_wan }}_name="wan0"
ifconfig_bridge0_name="brlan0"
ifconfig_bridge1_name="brwan0"
ifconfig_lan0="inet {{ lan_ipv4_cidr }}"
ifconfig_lan0_ipv6="inet6 accept_rtadv"
ifconfig_wan0="up"
ifconfig_brlan0="addm lan0 up"
ifconfig_brwan0="addm wan0 up"
{% else %}
ifconfig_bridge0_name="brlan0"
ifconfig_bridge1_name="brwan0"
ifconfig_vtnet0="inet {{ lan_ipv4_cidr }}"
ifconfig_vtnet0_ipv6="inet6 accept_rtadv"
ifconfig_brlan0="addm vtnet0 up"
ifconfig_brwan0="up"
{% endif %}
zpool_gpt_labels_enable="YES"
smartd_enable="YES"
pf_enable="YES"
syslogd_enable="YES"
syslogd_flags="-s"
jail_enable="YES"
jail_parallel_start="YES"
jail_reverse_stop="YES"
clear_tmp_enable="YES"
cleanvar_enable="YES"
auditd_enable="YES"
devd_enable="YES"
{% if is_prod %}
vm_enable="YES"
vm_dir="zfs:zroot/vm"
vm_list="alpine0"
vm_delay="5"
kld_list="pf if_wg i915kms"
{% else %}
kld_list="pf"
{% endif %}
