# /etc/crontab - root's crontab for FreeBSD
#
#
SHELL=/bin/sh
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
BORG_CONFIG_DIR=/usr/local/etc/borg
#
#minute hour    mday    month   wday    who     command
#
# Save some entropy so that /dev/random can re-seed on boot.
*/11    *       *       *       *       operator /usr/libexec/save-entropy
#
# Rotate log files every hour, if necessary.
0       *       *       *       *       root    newsyslog
#
# Perform daily/weekly/monthly maintenance.
1       3       *       *       *       root    periodic daily
15      4       *       *       6       root    periodic weekly
30      5       1       *       *       root    periodic monthly
#
# Adjust the time zone if the CMOS clock keeps local time, as opposed to
# UTC time.  See adjkerntz(8) for details.
1,31    0-5     *       *       *       root    adjkerntz -a

{% if is_prod | default(false) %}
# Run sanoid every minute to take/prune frequent (10 min) and daily ZFS snapshots
*       *       *       *       *       root    sanoid --cron >>/var/log/sanoid.log 2>&1

# Back up latest daily snapshots to remote nightly
0       3       *       *       *       root    lockf -k -t 0 /var/run/borg-daily-backup.lock borg-daily-backup >>/var/log/borg 2>&1
{% endif %}

# Run pylogsentinel
*/10    *       *       *       *       root    python -m pylogsentinel
# Run pylogsentinel batch job every Monday
5       6       *       *       1       root    pylogsentinel-batch-email.sh

# Update ports trees nightly
0       2       *       *       *       root    update-ports quarterly >>/var/log/update-ports.log 2>&1
5       2       *       *       *       root    update-ports custom >>/var/log/update-ports.log 2>&1
