MainDir=/var/db/nzbget
DestDir=/mnt/storage/downloads
InterDir=/var/db/nzbget/tmp
WebDir=/usr/local/share/nzbget/webui
ConfigTemplate=/usr/local/share/nzbget/nzbget.template.conf
LockFile=/var/db/nzbget/nzbget.lock
LogFile=/var/db/nzbget/nzbget.log
ControlIP=0.0.0.0
ControlPort=6789
AuthorizedIP=10.0.0.0/8,192.168.0.0/16
