PYTHONUNBUFFERED="1"
BASE_URL="https://diddle.jan.systems"
DB_PATH="db.sqlite3"
EMAIL_HOST="smtp.postmarkapp.com"
EMAIL_PORT="587"
EMAIL_HOST_USER="{{ diddle_email_host_user }}"
EMAIL_HOST_PASSWORD="{{ diddle_email_host_password }}"
EMAIL_USE_TLS="true"
EMAIL_MESSAGE_FROM="diddle@jan.systems"
